body{
  background-image:url(silverware.jpg);
  color:#404040;
  font-family: Century Gothic, Futura, Verdana, sans-serif font;
  font-size:11pt;
}
h1{
  letter-spacing: .2em;
  background-color:#F0F0F0;
  font-weight:bold;
  font-size:22pt;
  font-family: Century Gothic, Futura, Verdana, sans-serif font;
  color:#A4A400;
  text-align:center;
  text-decoration:underline;
  }
span.highlight
{
  font-weight:bold;
}
h2{
  letter-spacing: .2em;
  background-color:#F0F0F0;
  font-size:18pt;
  font-family: Century Gothic, Futura, Verdana, sans-serif font;
  color:#A4A400;
  text-decoration:underline;
}
p{
  MARGIN-right:40px;
  MARGIN-left:40px;
  background-color: #FFFFC8;
  font-style:italic;
}
a{ color:#A4A400; }
a:link {color:#A4A400;}
h3{
  color:#A4A400;
  text-decoration:underline;
}
