body{
  font-weight:normal;
  background-image:url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
  color:#404040;
  font-family: Georgia, Garamond, serif font;
  font-size:11pt;
}
ul li {list-style-image : url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif);}
h1{
  letter-spacing: .2em;
  background-color:#F0F0F0;
  font-weight:bold;
  font-size:22pt;
  font-family: Century Gothic, Futura, Verdana, sans-serif font;
  color:#A4A400;
  text-align:center;
  text-decoration:underline;
  }
span
{
  font-weight:bolder;
}
h2{
  font-weight:normal;
  letter-spacing: .2em;
  background-color:#F0F0F0;
  font-size:18pt;
  font-family: Century Gothic, Futura, Verdana, sans-serif font;
  color:#A4A400;
  text-decoration:underline;
}
p{
  MARGIN-right:40px;
  MARGIN-left:40px;
  background-color: #FFFFC8;
  font-style:italic;
}
a{ color:#A4A400; }
a:link {color:#A4A400;}
h3{
  color:#A4A400;
  text-decoration:underline;
}
